.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.json
/build
/captures
.externalNativeBuild
*.apk
*.aab
*.ap_
*.class
*.dex
*.jar
*.jks
*.aar
.DS_Store
/release
.cxx/
